const AddTodo = () => { ... };

const TodoItem = ({ todo }) => { ... };

const TodoList = () => {
  return todos.map(todo => <TodoItem todo={todo} />);
};

const Todo = () => {
  return (
    <>
      <AddTodo />
      <TodoList />
    </>
  );
};
